<%= form_with model: @post do |form| %>
<body background="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQYWscUG8hYmtKs_e_Kz9xgKubkLSsmQXslPCpokThbFzmDt1EH">

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>
  
  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  
<% end %>